
/* 미리 정해놓기 */
:root {
/* Color */
--white-color: #fff;
--black-color: #140a00;
--blue-color: #045fd4;
--red-color: #ff0000;
--grey-dark-color: #909090;
--grey-light-color: #e0e0e0;
/*  Size */
--padding: 12px;
--avatar-size: 36px;

/* Font Size */
--font-large:18px;
--font-medium: 14px;
--font-small: 12px;
--font-micro: 10px;
}

/* 모든 tag에 적용 */

*{ 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto;
}

ul{
    list-style: none;
}

button,
button:focus {
    border: none;
    cursor: pointer;
    outline: none;
}

/* header */
header {
    display: flex;
    justify-content: space-between;
    padding: var(--ppadding);
    background-color: var(--black-color);
    color: var(--white-color);
}

header .logo {
    font-size: var(--font-large);
}

header .logo i {
    color: var(--red-color);
}

header .icons .fa-search {
    margin-right: var(--padding);
}

/* 아래처럼 쓰면 더 편하게 쓸수있다! */
/* SASS & LESS 라이브러리 사용 */
/* header {
    .logo {

    }
    .icons {

    }
} */

/* video player */
.player {
    /* 얘야 넌 sticky가 되면 위에 붙어라잉 top을 써주자. */
    position: sticky;
    top: 0;
    text-align: center;
    background-color: var(--black-color);
}

.player video {
    width: 100%;
    height: 100%;
    /* 크기의 제한 주기 */
    max-width: 1000px; 
}

.info {
    padding: var(--padding);
}

/* hashtag */
/* 범위는 최대한 작게작게 들어가서 하는게 좋음 */
.info .metadata .hashtags {
    display: flex;
    font-size: var(--font-small);
    color: var(--blue-color)
}

.info .metadata .hashtags li {
    margin-right: var(--padding);
}

.info .metadata .titleAndButton {
    display: flex;
}


.info .metadata .titleAndButton .title {
    font-size: var(--font-medium);
}